<!DOCTYPE html>
<html>
    <head>
        <title>Twitter Feed</title>
        <!-- http://gridsystemgenerator.com/gs01.php?GridWidth=1440&GridColumns=20&GridMarginLeft=20&GridMarginRight=20&sc=1 -->
        <link type="text/css" rel="stylesheet" href="http://gridsystemgenerator.com/download/gs01/uncompressed/css/1440_20_20_20.css"/>
        <link type="text/css" rel="stylesheet" href="css/style.css" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>
        <script type="text/javascript" src="js/highcharts/highcharts.src.js"></script>
        <script type="text/javascript" src="js/highcharts/modules/exporting.js"></script>
      <script type="text/javascript" src="js/presenter.js"></script>
        <script type="text/javascript" src="js/web_socket_client.js"></script>
    </head>
    <body>
        <div class="container_20">
            <div id="tweets" class="grid_10">
                <div id="tweet" style="display: none;"></div>
            </div>
            <div class="grid_10">
                <div id="tweet_time_chart"></div>
                <div id="tweet_term_hit_chart"></div>
            </div>
            <div class="clear">&nbsp;</div>
            <div>
              <form>
                <input id="session_id" name="session_id" type="hidden" value="<%= session[:session_id] %>"/>
              </form>
            </div>
            <div id="auth_failure" class="push_5 grid_8 simple_overlay">
                <p>Twitter did not accept your login. Please <a href="/">try again!</a></p>
            </div>
        </div>
    </body>
</html>