<!DOCTYPE html>
<html>
    <head>
        <title>Twitter Feed</title>
        <!-- http://gridsystemgenerator.com/gs01.php?GridWidth=1440&GridColumns=20&GridMarginLeft=20&GridMarginRight=20&sc=1 -->
        <link type="text/css" rel="stylesheet" href="http://gridsystemgenerator.com/download/gs01/uncompressed/css/1440_20_20_20.css"/>
        <link type="text/css" rel="stylesheet" href="css/style.css" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/validation/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/labels/jquery.infieldlabel.min.js"></script>
    </head>
    <body>
        <div class="container_20">
          <div id="form" class="push_7 grid_7">
            <form id="query" action="/feed" method="post">
              <fieldset>
                <legend></legend>
                <ol>
                  <li>
                    <label for="terms">Comma separated list of terms to scan for. <i><b>e.g. google,amazon,facebook</b></i></label>
                    <input id="terms" name="terms" class="required default-text" type="text"/>
                  </li>
                  <li>
                    <label for="username">Your <b>twitter</b> username</label>
                    <input id="username" name="username" class="required" type="text"/>
                  </li>
                  <li>
                    <label for="password">Your <b>twitter</b> password</label>
                    <input id="password" name="password" class="required" type="password"/>
                  </li>
                </ol>
              </fieldset>
              <fieldset class="buttons">
                <ol>
                  <li>
                    <input type="submit" value="Analyze"/>
                  </li>
                </ol>
              </fieldset>
            </form>
          </div>
        </div>
    </body>
</html>
<script>
  $(function() {
      $('form#query').validate({
          errorElement: "span",
          messages: {
              terms: {
                required: 'required'
              },
              username: {
                required: 'required'
              },
              password: {
                required: 'required'
              }
          }
      });

      $("form#query label").inFieldLabels();
  })
</script>