<!DOCTYPE html>
<html>
    <head>
        <title>Twitter Feed</title>
        <!-- http://gridsystemgenerator.com/gs01.php?GridWidth=1440&GridColumns=20&GridMarginLeft=20&GridMarginRight=20&sc=1 -->
        <link type="text/css" rel="stylesheet" href="http://gridsystemgenerator.com/download/gs01/uncompressed/css/1440_20_20_20.css"/>
        <link type="text/css" rel="stylesheet" href="css/style.css" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/validation/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/highcharts/highcharts.src.js"></script>
        <script type="text/javascript" src="js/highcharts/modules/exporting.js"></script>
    </head>
    <body>
        <div class="container_20">
          <div id="form" class="push_7 grid_7">
            <form id="query" action="/feed" method="post">
              <fieldset>
                <legend></legend>
                <ol>
                  <li>
                    <label for="terms">Terms</label>
                    <input id="terms" name="terms" class="required" type="text"/>
                  </li>
                  <li>
                    <label for="username">Twitter username</label>
                    <input id="username" name="username" class="required" type="text"/>
                  </li>
                  <li>
                    <label for="password">Twitter password</label>
                    <input id="password" name="password" class="required" type="password"/>
                  </li>
                </ol>
              </fieldset>
              <fieldset class="buttons">
                <ol>
                  <li>
                    <input type="submit"/>
                  </li>
                </ol>
              </fieldset>
            </form>
          </div>
        </div>
    </body>
</html>
<script>
  $(function() {
      $('form#query').validate({
          errorElement: "span",
          messages: {
              terms: {
                required: 'is required'
              },
              username: {
                required: 'is required'
              },
              password: {
                required: 'is required'
              }
          }
      });
  })
</script>