body {
    font: 13px/1.5 'Trebuchet MS', Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

a {
    color: black;
    text-decoration: overline;
}

.active, a:hover {
    background-color: black;
    color: white;
}

a:visited {
    text-decoration: line-through;
}

#menu li {
    display: inline;
}

#title {
    text-align: center;
}

/* forms */
form fieldset {
    margin-bottom: 10px;
}

form legend {
    padding: 0 2px;
    font-weight: bold;
}

form label {
   display: inline-block;
   line-height: 1.8;
   vertical-align: top;
}

form fieldset {
    border: none;
}

form fieldset ol {
    margin: 0;
    padding: 0;
}

form fieldset li {
    list-style: none;
    padding: 5px;
    margin:  0;
}

form label {
  width: 135px;
}

form input[type="text"], input[type="password"]{
    border-width: 1px;
}

form fieldset.buttons input[type="submit"] {
    float: right;
}

/* form errors */
#error_explanation {
    padding: 1em;
    border: 1px dashed;
    background-color: #d3d3d3;
}

/* Etc */
#tweets {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 700px;
}


div#form {
    margin-top: 150px;
}