<!DOCTYPE html>
<html>
<head>
    <title>Twitter Feed</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/web_socket_client.js"></script>
    <link type="text/css" rel="stylesheet" href="http://gridsystemgenerator.com/download/gs01/uncompressed/css/1040_16_10_10.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="content" class="grid_16">
        <div id="tweets" class="grid_4"></div>
    </div>
    <div class="clear">&nbsp;</div>
</body>
</html>